# Environment variables for the application

# File ownership for Docker bind mounts
PUID=1000
PGID=1000

# Discord Bot Token
# Set your Discord bot token below
DISCORD_TOKEN=<your_discord_bot_token_here>

# Jellyfin API Configuration
# Set your Jellyfin API key and server URL below
JELLYFIN_API_KEY=<your_jellyfin_api_key_here>
JELLYFIN_SERVER_URL=<your_jellyfin_server_url_here>
